
*.vsidx
*.dll
*.exe
*.cache
*.editorconfig
/Back/Siace.Data/obj/Debug/net8.0
/Back/Siace.Data/obj/Debug
/Back/Siace.Data/obj
Back/Siace.Data/obj/Debug/net8.0/Siace.Data.AssemblyInfo.cs
*.editorconfig

*.dll





/Back/Siace.Data/.vs
/Back/Siace.Data/bin
/Back/Siace.Data/obj/Debug
/Back/Siace.Data/obj/Release

/Back/Siace.WS/.vs
/Back/Siace.WS/bin
/Back/Siace.WS/obj/Debug
/Back/Siace.WS/obj/Release
/Back/Siace.WS/obj
